<link rel="stylesheet" href="/css/home.css">
<h1>Codeial/ <%= title%>
</h1>
<div id="home-cointainer">
    <section id="feed-post">
        <% if(locals.user) {%>
            <form action="/post/create" id="new-post-form" method="post">
                <h4>Posts</h4>
                <textarea name="content" id="new-post-form" cols="30" rows="3" placeholder="type-here"></textarea>
                <input type="submit" value="post">
            </form>
            <%}%>
                <div id="post-list-cointainer">
                    <ul>
                        <% for(post of Posts) {%>
                            <%- include('posts'); %>
                                <%}%>
                    </ul>
                </div>

    </section>
    <section id="user-friend">
        <h4>Friends</h4>
        <% for(u of all_users) {%>
            <div>
                <p>
                    <a href="/user/profile/<%=u.id %>">
                        <%=u.name %>
                    </a>
                </p>
            </div>
            <%} %>
    </section>
</div>